<!-- Contact Section -->
<section id="contact" class="container-fluid content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact</h2>
      <p><strong>Courriel | Email:</strong> <a href="mailto:gamecuriousmtl@mrgs.ca">gamecuriousmtl@mrgs.ca</a> </p>
      <p><strong>Facebook :</strong> <a href="https://www.facebook.com/gamecuriousmtl">facebook.com/gamecuriousmtl</a> </p>
      <p><strong>Twitter :</strong> <a href="https://twitter.com/game_curious">twitter.com/game_curious</a> </p>
      <p><strong>Itch.io :</strong> <a href="https://gamecuriousmtl.itch.io/">gamecuriousmtl.itch.io/</a> </p>
      <p><strong>Rapports anonymes | Anonymous safer space reports</strong>: <a href="mailto:ssahmrgs@gmail.com">ssahmrgs@gmail.com</a> </p>
      <p><strong>Société Ludique du Mont Royal | Mount Royal Game Society</strong>: <a href="http://mrgs.ca/" target="_blank">mrgs.ca</a> </p>
    </div>
  </div>
</section>