<body data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> Menu <i class="fa fa-bars"></i> </button>
      <a class="navbar-brand page-scroll" href="{{ site.t.[page.lang].page_top }}"> <span class="light"><i class="fa fa-gamepad" aria-hidden="true"></i> {{ site.title.[page.lang] }}</span> </a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden"> <a href="/#page-top"></a></li>
	<li> <a class="page-scroll"> <span class="o-light">{{ site.t.[page.lang].about_menu }}</span><i class="fas fa-caret-down"></i></a>
		<ul class="navbar navbar-custom navbar-fixed-top">
			<li> <a class="page-scroll" href="{{ site.t.[page.lang].about.url }}">{{ site.t[page.lang].about.name}} {{ site.title.[page.lang] }}</a> </li>
			<li> <a href="{{ site.t.[page.lang].faq.url }}">FAQ</a> </li>
			<li> <a href="{{ site.t.[page.lang].saferspace.url }}">{{ site.t.[page.lang].saferspace.name }}</a></li>
		</ul>
	</li>
	<li> <a class="page-scroll" href="{{ site.t.[page.lang].events.url }}">{{ site.t.[page.lang].events.name }}</a></li>
	<li> <a href="{{ site.t.[page.lang].games.url }}">{{ site.t.[page.lang].games.name }}<i class="fas fa-caret-down"></i></a>
		<ul class="navbar navbar-custom navbar-fixed-top">
			{% for games in site.t.[page.lang].gameslist %}
				<li><a href="{{ games[1].url }}">{{ games[1].name }}</a></li>
			{% endfor %}
		</ul>
	</li>
		<li> <a class="page-scroll" href="{{ site.t.[page.lang].make.url }}">{{ site.t.[page.lang].make.name }}</a></li>
		<li> <a class="page-scroll" href="{{ site.t.[page.lang].contact.url }}">{{ site.t.[page.lang].contact.name }}</a></li>
	<li> <a>{{ page.lang }}<i class="fas fa-caret-down"></i></a>
		<ul class="navbar navbar-custom navbar-fixed-top">
			{% for lang in site.langs %}
			<li><a href="/{{ lang }}{{ page.url | remove_first: "/" | remove: page.lang }}">{{ lang }}</a></li>
			{% endfor %}
		</ul>	
	</li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
