<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> Menu <i class="fa fa-bars"></i> </button>
      <a class="navbar-brand page-scroll" href="/#page-top"> <span class="light"><i class="fa fa-gamepad" aria-hidden="true"></i> Curieux.se de jeux Montréal<br>
      Game Curious Montréal</span> </a> </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden"> <a href="/#page-top"></a></li>
	<li> <a class="page-scroll" href="/#about"><span class="o-light"></span>À propos <i class="fas fa-caret-down"></i><br>About</a>
		<ul data-toggle=="collapse">
			<li> <a class="page-scroll" href="/faq"><span class="o-light"></span>FAQ</a> </li>
			<li> <a class="page-scroll" href="/espacesecuritaire">Espace sécuritaire / Safer Space Policy</a></li>
		</ul>
	</li>
        <li> <a class="page-scroll" href="/#schedule"><span class="o-light"></span>Évènements<br>
          Events</a></li>
        <li> <a class="page-scroll" href="/games">Les jeux<br>Games</a></li>
        <li> <a class="page-scroll" href="/make">Faites!<br>Make!</a></li>
	<li> <a class="page-scroll" href="/#contact">Nous Joindre<br>Contact</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
