<section id="saferspace" class="bg-lightblue container-fluid content-section text-center">
	<div class="row">
		<div class="col-lg-5 col-lg-offset-1">
			<h2>FAQ</h2>
			<p>La page de la foire aux question (FAQ) <a href="faq.html">se trouve ici</a>.</p>
			<p>The Frequently Asked Questions page <a href="faq.html">can be found here</a>.</p>
		</div>
		<div class="col-lg-5">
			<h2>Politique d'espace sécuritaire<br>Safer Space Policy</h2>
			<p>La page avec notre politique <a href="espacesecuritaire.html">se trouve ici</a>.</p>
			<p>The Safer Space policy page <a href="espacesecuritaire.html">can be found here</a>.</p>
		</div>
	</div>
</section>
