<!-- Schedule Section -->
<!--section id="nextevent" class="bg-lightyellow container-fluid content-section text-center" >
  <!--div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <img src="img/capitalism.jpg" class="img-responsive" style="margin-bottom: 20px;" />
	  <br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 col-lg-offset-1">
      <h2>Le Capitalisme et les Luttes Ouvrières</h2>
      <p><strong>Quand:</strong> Dimanche, 18 février 2018, 14h - 17h<br>
	     <strong>O&ugrave;:</strong> Café Aquin, UQAM, local A-2030, Hubert-Aquin Pavilion, 400 St. Catherine Est<br>
	     <a href="https://www.facebook.com/events/312394585831567/">Événement Facebook</a><br>
      </p>
      <hr>
      <p>Le capitalisme se base sur la dépossession des travailleu.rs.ses et sur la transformation de la plupart des aspects de la vie afin de maximiser la production de valeur économique capturée par une élite. Les médias dominants et les corporations défendent le marché comme étant la meilleure manière d’organiser toute relation sociale, que ce soit l’éducation, le logement, la culture ou la technologie, sans égard à celleux qui sont exclu.e.s et opprimé.e.s par conséquent. La réaction des corporation contre les augmentations récentes du salaire minimum montrent bien que les entreprises ne se soucient pas du bien-être des travailleu.rs.ses, leur retirant des bénéfices et blâmant l’augmentation de salaire pour toutes sortes de problèmes futurs, au nom du maintien de leurs marges de profit élevées.</p>
      <p>La lutte pour une vie et des conditions de travail dignes est constante. Tout progrès qui aie déjà été atteint aujourd’hui est le fruit historique de l’organisation et de la lutte collective des travailleu.rs.ses et des opprimé.e.s. Dans les récentes années, la plus récente crise économique globale a rendu les attaques contre les droits des travailleu.rs.ses encore plus difficiles. Les mesures d’austérité, la criminalisation des organisations ouvrières, et l’érosion des droits ont gagné du terrain dans plusieurs pays. La question de comment résister à ces attaques et de comment s’organiser pour mettre la pression dans l’autre direction est cruciale. Comment ces luttes peuvent-elle impliquer plus de gens? Comment pouvons-nous obtenir de meilleures conditions de travail et de vie pour tou.te.s?</p>
      <p>En utilisant les jeux sélectionnés cette semaine comme point de départ pour lancer notre discussion, nous nous intéresserons au travail des organismes communautaires locaux autour de ces questions, et au rôle que les jeux pourraient avoir dans les luttes ouvrières et anti-capitaliste.</p>
      <h3>Détails sur l’accessibilité:</h3>
      <p>Nous aurons des collations gratuites (incluant des options véganes et sans-glutens) et une garde d’enfant disponible. Les discussions prendront place en français et en anglais, et nous fournisserons des traductions chuchotées. Le Café Aquin est accessible aux fauteuils roulants et peut être accédé par la station de métro Berri-UQAM. Les toilettes appartiennent à l’UQAM et sont généralement genrées, mais nous afficherons des affiches pour les rendre genre neutre pendant la durée de nos événements.</p>
      <p>Tout.es les participant.e.s à Curieux de Jeux sont tenu.e.s de lire et à se conformer avec notre politique d’environnement sécuritaire. Le texte complet de note politique se trouve ici: <a href="http://gamecuriousmtl.mrgs.ca/espacesecuritaire.html">http://gamecuriousmtl.mrgs.ca/espacesecuritaire.html</a>.</p>
      <p>Le collectif de Curieux de Jeux Montréal reconnaît que cette série se déroule sur le territoire traditionnel des Kanien’kehá:ka (“Mohawk”). Les Kanien’kehá:ka sont les gardiens de la Porte de l’Est de la Confédération Haudenosaunee. L’île que nous appelons “Montréal” est connue par le nom de Tiotia:ke dans le langage des Kanien’kehá:ka, et l’endroit a traditionnellement été un lieu de rencontre entre plusieurs Premières Nations.</p>
      </p>
    </div>
    <div class="col-lg-5">
      <h2>Capitalism and Workers' Struggle</h2>
      <p><strong>When:</strong> Sunday, February 18 2018 at 2:00 PM - 5:00 PM <br>
	     <strong>Where:</strong> Café Aquin, UQAM, local A-2030, Hubert-Aquin Pavilion, 400 St. Catherine Est<br>
		 <a href="https://www.facebook.com/events/312394585831567/">Facebook Event</a><br>
      </p>
      <hr>
      <p>Capitalism is based on dispossessing workers and transforming as many aspects of life as possible in order to maximize the production of economic value for an elite. Mainstream media and corporations defend markets as the best way of organizing all social relations, be it education, housing, culture or technology, with no regard to those who are excluded and oppressed as a result. The corporate pushback against the recent increase of minimum wages demonstrates how businesses don’t care for the well-being of workers, taking away benefits and blaming the wage increase for all sorts of future problems, all in the name of keeping profit margins high.</p>
      <p>The struggle for dignified life and working conditions is constant. The progress achieved today is the historical fruit of the organization and collective struggle of workers and the oppressed. In recent years, the latest global economic crisis has made the attacks on workers' rights around the world even harsher. Austerity measures, the criminalization of workers’ organizations, and erosion of rights have been gaining ground in many countries. The questions of how to resist these attacks and organize to push back are key. How can these struggles engage more people? How can we achieve better working and living conditions for all?</p>
      <p>Using the games that we’ve selected for this week as a starting point for our discussion, we’ll look at what local grassroots communities are doing to address these issues, and what role games might play in the struggle against capitalist oppression and the defense of workers’ rights.</p>
      <h3>Accessibility details:</h3>
      <p>There will be free snacks (including vegan and gluten-free options) and childcare available. Discussions will take place in both French and English, with whisper translation provided. Café Aquin is wheelchair accessible and can be accessed directly from the Berri-UQAM metro station. The bathrooms are in UQAM and are normally gendered, however we will be putting up gender neutral signs for the duration of the event.</p>
      <p>All participants in Game Curious are expected to read and abide by our Safer Space policy. The full text of the policy is available here: <a href="http://gamecuriousmtl.mrgs.ca/espacesecuritaire.html">http://gamecuriousmtl.mrgs.ca/espacesecuritaire.html</a>. Printed copies will also be available at the event.</p>
      <p>The Game Curious Montreal Collective acknowledges that these events are taking place on the traditional territory of the Kanien’kehá:ka (“Mohawk”). The Kanien’kehá:ka are the keepers of the Eastern Door of the Haudenosaunee Confederacy. The island called “Montreal” is known as Tiotia:ke in the language of the Kanien’kehá:ka, and it has historically been a meeting place for other Indigenous nations.</p>
    </div>
  </div>
  <div class="row">
	  <div class="col-lg-6 col-lg-offset-3">
		  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.8083206141514!2d-73.56222838470009!3d45.51393707910156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a4d4ef40439%3A0xf0a8058d41e32bce!2s400+Rue+Sainte-Catherine+E%2C+Montr%C3%A9al%2C+QC+H2L+2C5!5e0!3m2!1sen!2sca!4v1516577984547" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	  </div>
  </div>
  <div class="row">
	  <div class="col-md-6 col-md-offset-3">
		  <iframe width="560" height="315" src="https://www.youtube.com/embed/p46WjZnHZlU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	  </div>
  </div>
</section-->

<!-- Schedule Section -->
<section id="schedule" class="bg-lightyellow container-fluid content-section text-center" >
  <div class="row">
    <div class="col-lg-5">
	    <img src="img/a1.jpg" />
  	</div>
    <div class="col-lg-5 text-left" style="margin-top: 25px;">
      <h2>Calendrier</h2>
	  <h3>Prochains Evénements</h3>
	  <p>
		  <ul class="schedule-list">
			<li class="schedule-list-item">20 septembre, 18h-20h - <a href="https://www.facebook.com/events/529105100874023/" target="_blank">Rencontre pour nouve.lle.aux membres</a> - 1500 de Maisonneuve O., salle #204</li>
		  </ul>
	  </p>
      <h2>Calendar</h2>
		<h3>Upcoming Events</h3>
		  <p>
			<ul class="schedule-list">
				<li class="schedule-list-item">September 20, 6-8pm - <a href="https://www.facebook.com/events/529105100874023/" target="_blank">New Members Meeting</a> - 1500 de Maisonneuve W., room #204</li>
        	</ul>
		  </p>
	</div>	
  </div>
  <div class="row text-left">
	  <div class="col-lg-5 col-lg-offset-1">
		  <h3>Evénements Passés 2018</h3>
	  <p>
		<ul class="schedule-list">
			<li class="schedule-list-item">Jan 13 - <a href="https://www.facebook.com/events/296609784174094/" target="_blank">Curieux de Jeux Launch Party</a> à QPIRG Concordia</li>
			<li class="schedule-list-item">Jan 21 - <a href="https://www.facebook.com/events/1680597415316425/" target="_blank">Immigration et frontières</a> au Café Aquin (<a href="http://gamecuriousmtl.mrgs.ca/games.html#immigrationgames" target="_blank">liste des jeux</a>)</li>
			<li class="schedule-list-item">Jan 28 - <a href="https://www.facebook.com/events/544124215942190/" target="_blank">La justice environnementale et la décolonisation</a> au Café Aquin (<a href="http://gamecuriousmtl.mrgs.ca/games.html#decolonizationgames" target="_blank">liste des jeux</a>)</li>
			<li class="schedule-list-item">Fev 4 - <a href="https://www.facebook.com/events/318772201962906/" target="_blank">La police et les prisons</a> au Café Aquin (<a href="http://gamecuriousmtl.mrgs.ca/games.html#policinggames" target="_blank">liste des jeux</a>)</li></li>
			<li class="schedule-list-item">Fev 11 - <a href="https://www.facebook.com/events/1492372480880120/" target="_blank">Le féminisme et le consentement</a> au Café Aquin</li>
			<li class="schedule-list-item">Fev 18 - <a href="https://www.facebook.com/events/312394585831567/" target="_blank">Le capitalisme et les luttes ouvrières</a> au Café Aquin</li>
			<li class="schedule-list-item">Mar 4 - <a href="https://www.facebook.com/events/484187128643992/" target="_blank">Atelier de création de jeux 1/2</a> au Centre de lutte contre l'oppression des genres</li>
			<li class="schedule-list-item">Mars 8 - <a href="https://www.facebook.com/events/185465942055814/" target="_blank">Atelier de création de jeux 2/2</a> au Café Aquin</li>
		  	<li class="schedule-list-item">Mars 18 - <a href="https://www.facebook.com/events/936474369857196/" target="_blank">Game jam antifasciste  </a> au Café Aquin</li>
		  	<li class="schedule-list-item">Juillet 15 - <a href="https://www.facebook.com/events/486322915136136/" target="_blank">Jeux dans le parc </a> à Parc La Fontaine</li>
		</ul>
		</p>
	  </div>
	  <div class="col-lg-5">
		  <h3>Past Events 2018</h3>
		<p>
			<ul class="schedule-list">
				  <li class="schedule-list-item">Jan 13 - <a href="https://www.facebook.com/events/296609784174094/" target="_blank">Game Curious Launch Party</a> at QPIRG Concordia</li>
				  <li class="schedule-list-item">Jan 21 - <a href="https://www.facebook.com/events/1680597415316425/" target="_blank">Immigration and Borders</a> at Café Aquin (<a href="http://gamecuriousmtl.mrgs.ca/games.html#immigrationgames" target="_blank">games list</a>)</li>
				  <li class="schedule-list-item">Jan 28 - <a href="https://www.facebook.com/events/544124215942190/" target="_blank">Environmental Justice and Decolonization</a></strong> at Café Aquin (<a href="http://gamecuriousmtl.mrgs.ca/games.html#decolonizationgames" target="_blank">games list</a>)</li>
				  <li class="schedule-list-item">Feb 4 - <a href="https://www.facebook.com/events/318772201962906/" target="_blank">Policing and Prisons</a> at Café Aquin (<a href="http://gamecuriousmtl.mrgs.ca/games.html#policinggames" target="_blank">games list</a>)</li>
				  <li class="schedule-list-item">Feb 11 - <a href="https://www.facebook.com/events/1492372480880120/" target="_blank">Feminism and Consent</a> at Café Aquin</li>
				  <li class="schedule-list-item">Feb 18 - <a href="https://www.facebook.com/events/312394585831567/" target="_blank">Capitalism and Workers’ Struggles</a> at Café Aquin</li>
				  <li class="schedule-list-item">Mar 4 - <a href="https://www.facebook.com/events/484187128643992/" target="_blank">Game Making Workshop 1/2</a> at Centre for Gender Advocacy</li>				
				  <li class="schedule-list-item">March 8 - <a href="https://www.facebook.com/events/185465942055814/" target="_blank">Game Making Workshop 2/2</a> - at Café Aquin</li>
				  <li class="schedule-list-item">March 18 - <a href="https://www.facebook.com/events/936474369857196/" target="_blank">Antifascist Game Jam  </a> at Café Aquin</li>
				  <li class="schedule-list-item">July 15 - <a href="https://www.facebook.com/events/486322915136136/" target="_blank">Games in the Park </a> at Parc La Fontaine</li>
	        </ul>
      	</p>

	  </div>
  </div>
</section>
